.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 30px;

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
